h3{
  font-size: 1.5rem;
}
.contact-dib{
    color: white;
    padding-left:20px
}
.contact-info {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 30%;
  }
  @media (max-width: 767px) {
    .phone{
      margin-top: 50px;
    }
  }